@font-face {
    font-family: "Aloha";
    src: url("fonts/AlohaDemo-ya0V.ttf")
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4e1da;
}

#navbar {
    background-color: #FFF;
    display: flex;
    align-items: center;

}
#name{
    margin-right: auto;
    font-size: larger;
    font-weight: bold;
}
.title{
    text-align: center;
    font-size: 72px;
    font-weight: bold;
}
#navbar a {
    color: #f54d93;
    width: 130px;
    padding: 10px;
    font-family: "Aloha", sans-serif;

}

h1{
    font-weight: bold;
    color: #FFF;
    font-family: "Aloha", sans-serif;
}

#navbar a.link:hover {
    border-bottom: 1px solid #2f8437;
}


p{
    font-family:'Courier New', Courier, monospace
}
#footer {
    color: #FFF;
    background-color: #f54d93;
    text-align: center;
    text-shadow: 0px 0px 1px #000;
    padding: 10px;
}